* {
    margin: 0;
    padding: 0;
}

body {
    background-image:url(https://images.pexels.com/photos/747964/pexels-photo-747964.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1) ;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 260px 0;
}
 
.header {
    margin: auto;
}

.text {
    font-size: 1.4rem;
    font-weight: 600;
    color: #00b6f1;
}

.form {
    margin: auto;
}

#name-login,
#password {
    outline: none;
    font-size: .9em;
    padding: 1em 3em 1em 1em;
    border: none;
    margin-bottom: 0.3em;
    background: rgba(255, 255, 255, 0.85);
    width: 82%;
    color: #000;
    border-radius: 30px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    margin: 10px 0;
    height: 14px;
}

#name-login::after,
#password::after {
    content: "";
  display: block;
  margin: auto;
  width: 100px;
  background-color: red;
  padding-bottom: 10px;
  border-bottom: 5px solid #00b6f1;
}

.myform p i {
    color: #00b6f1;
    position: absolute;
    right: 655px;
}

.user-icon {
    top: 304px;
}

.lock-icon {
    top: 368px;
}

.lock-two-icon {
    top: 436px;
}

.forgot-password {
    float: right;
}

.forgot-password a:hover {
    color: #fff;
}

.forgot-password a {
    color: #000;
    text-decoration: none;
}

.btn {
    margin-top: 30px;
    background-color: #00b6f1;
    width: 160px;
    height: 30px;
    border-radius: 15px;
    position: absolute;
    left: 690px;
    border: 1px solid #ccc;
}

.btn:hover {
    background-color: #fff;
}

.btn a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    color: #fff;
    padding:3px 56px;
}

.btn a:hover {
    color: #000;
}